<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--For now only magic string config - TODO MEF-->

    <!--For now DLL/XML-->
    <add key="AssemblyReader" value="DLL" />
    <!--<add key="AssemblyLoader" value="XML" />-->

    <!--For now XML-->
    <add key="AssemblyWriter" value="XML" />
  </appSettings>
</configuration>