<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <!--Composition configuration. For more than one value separate with ','-->

    <add key="AssemblyReaders" value="AssemblyDllReader" />
    <add key="AssemblyWriters" value="AssemblyXmlSerializer" />
    <add key="DataAccessors" value="DataAccessor" />
    <add key="ComponentsDirectoryPath" value="./"/>

  </appSettings>
</configuration>